<div class="container p-0 mt-5 shadow">
    <table class="table table-hover" style="text-align: center;">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">City</th>
                <th scope="col">Cusine</th>
                <th scope="col">Loved</th>
            </tr>
        </thead>
        <tbody>
            {{#each data}}
            <tr>
                <td>{{this.dataValues.name}}</td>
                <td>{{this.dataValues.city}}</td>
                <td>{{this.dataValues.cuisine}}</td>
                <td class="text-danger">
                    <svg id="{{this.dataValues.id}}" width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-heart-fill favorite-page-table-heart-icon heart-icon-hover-black" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                    </svg>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
