<div class = "container">
    <div class ="row justify-content-center">
        <div class = "col-4">
            <form>
                <label for= "form-control" id = "topSearchText"> Search any City (EU) for Restaurants</label>
                <div class="form-inline" id = "citySearch">
                    <input type="text" class="form-control" id="restaurantSearchCityInput">
                    <button type="submit" class="btn btn-primary" id ="searchCityBtn">Search</button>
                </div>
            </form>
        </div>

        <div class = "col-2"></div>

        <div class = "col-4">
            <form>
                <label for= "form-control" id = "topSearchText"> Search any restaurant by name! (EU)</label>
                <div class="form-inline" id = "citySearch">
                    <input type="text" class="form-control" id="restaurantSearchNameInput">
                    <button type="submit" class="btn btn-primary" id ="searchNameBtn">Search</button>
                </div>
            </form>
        </div>
    </div>
    <table id="search-page-table" class="d-none mt-5 table shadow table-hover" style="text-align: center;">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">City</th>
                <th scope="col">Cusine</th>
                <th scope="col">Take Actions</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
    <div id="search-page-spinner" class="d-none justify-content-center mt-5">
        <div style="width: 4rem; height: 4rem;" class="mt-5 spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>
