form.signup,
form.login {
    margin-top: 50px;
}

#title {
    text-align: center;
    margin-top: 100px;
}

#topSearchText {
    margin-top: 30px;
}

.heart-icon-hover-black:hover {
    color: #343a40;
    cursor: pointer;
}

.heart-icon-hover-red:hover {
    color: #dc3545;
    cursor: pointer;
}

.review-page-table-text {
    cursor: pointer;
}
