<div class = "container">
    <div class ="row justify-content-center">
        <div class = "col-4">
            <form>
                <div class="form-inline" id = "citySearch">
                    <input type="text" class="form-control" id="restaurantSearchCityInput">
                    <button type="submit" class="btn btn-primary" id ="searchBtn">Search</button>
                </div>
                <small id="emailHelp" class="form-text text-muted">Enter where you would like to search for restaurants!</small>
            </form>
        </div>
    </div>
</div>